{% extends "layout.html" %}
{% block title %} Settings Page {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{%block content %}
<header>
  <h1> Admin Settings </h1>
</header>

<form id="questionType">
  <label for="qtype">Question Type:
  <input type="text" id="qtype" name="qtype"><br>
  <input type="submit" value="Submit">
</form>

<form id="gameLength">
  <label for="numquestions">How many questions per game?
    <input type="text" id="numquestions" name="numquestions"><br>
    <input type="submit" value="Submit">
</form>


{% endblock %}

{% block scripts %}
<script src = "{{ url_for("static", filename = "info.js") }}"></script>
{% endblock %}
